body {
    font-family: "Lato", sans-serif;
}
.navbar {
  color: #fff;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 75px;
    left: 0;
    background-color: hsla(210, 7%, 72%, 0.39);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s

}

.sidenav a:hover{
    color: #f1f1f1;
}
.container{
  width: 100%;

}
.menu{
  line-height: 76px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dropdown-menu {
   /*background:none!important;*/
   border:none;
   padding:5px;
   font: inherit;
   /*border is optional*/
   /*border-bottom:1px solid #444; */
   cursor: pointer;
   color: white;
   width: 100%;
   background-color: hsla(210, 7%, 72%, 0.39);
}

.dropdown-menu >div>a{
  /*background-color:  hsla(210, 7%, 72%, 0.39);*/
  color: white;
  display: flex;
  justify-content: center;

}

.box-2 > a{
  border:none;
  padding:5px;
  font: inherit;
  /*border is optional*/
  /*border-bottom:1px solid #444; */
  cursor: pointer;
  color: white;
  width: 100%;
  background-color: hsla(210, 7%, 72%, 0.39);
}

.navbar-inverse .navbar-nav>li>div {
    background: #383E4C none repeat scroll 0 0;
    border: 1px solid #646d7c;
    color: #fff ;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
