{% extends '../../instructors/templates/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% include '../../instructors/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Announce Grade | Instructor
{% endblock head_title%}
	

{% block content %}

	<section id="feature-area" class="about-section">
		<div class="container">
			<div class="row text-center inner course-content">
				{% for obj in object_list %}
				<div class="col-sm-2">
					<div class="feature-content min-height">
						<img src="{% static 'img/1-1.jpg' %}" alt="Image">
						<h2 class="feature-content-title red-text">{{ obj.course_number }} {{ obj.name}} </h2>
						<p class="feature-content-description min-height-des">{{ obj.description}}</p>
						<a href="/instructors/announce-detail/?course_number={{ obj.course_number}}" class="feature-content-link green-btn">See Details</a>
						
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>


{% endblock content%}
  