{% extends '../../instructors/templates/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% include '../../instructors/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Student Attendance | Instructor
{% endblock head_title%}

{% block content %}

	<div class="header-content">
			<h1> CN330 </h1> <br>
	</div>

	<div class="box-3">
		<div class="buttonCenter">
			<a href="#" ><button type="submit"> Upload picture </button></a>
		</div>
	</div><br>

	<div class="box-3">
		<div class="buttonCenter">
			<a href="/instructors/showattendance" ><button type="submit"> Analysis </button></a>
		</div>
	</div>


{% endblock content%}
