{% extends '../../instructors/templates/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% include '../../instructors/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Student Attendance | Instructor
{% endblock head_title%}

{% block content %}
	
	<div id="section1">
		<header id="header-area" class="intro-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="header-content">
              				<h1> CN330 </h1> <br>
						</div>

            			<div class="box-3">
            				<div class="buttonCenter">
                				<a href="#" ><button type="submit"> Upload picture </button></a>
                			</div>
						</div><br>

						<div class="box-3">
							<div class="buttonCenter">
                				<a href="/instructors/showattendance" ><button type="submit"> Analysis </button></a>
                			</div>
						</div>

					</div>
				</div>
			</div>
		</header>
	</div>

 	{% block feature %}
	{% include '../../instructors/templates/feature.html' %}
	{% endblock feature %}


{% endblock content%}
