{% extends '../../instructors/templates/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% include '../../instructors/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Student Attendance | Instructor
{% endblock head_title%}

{% block content %}
	
	<script>
	    $(document).ready(function(){
	         $('select#selectcoursenumber').change(function () {
	             var optionSelected = $(this).find("option:selected");
	             var valueSelected  = optionSelected.val();
	             var course_number   = optionSelected.text();

	             console.log(course_number);
	             data = {'selectcoursenumber' : course_number ,"ajax":1};
	             ajax('/instructors/checkin',data,function(result){
	             		$('#selectsections').html(result);
	                 });
	         });
	    });
	</script>
	
	{% if select_course_number == null %}
	<h1>Please select course number</h1>
	<form action="checkin" method="post">	
		{% csrf_token %}

		<select name="selectcoursenumber" id="selectcoursenumber">
	        	<option selected="selected">--Select Course number--</option>
	        {% for item in course_number %}
	            <option val="{{ item.course_number }}"> {{ item.course_number }} </option>    
	        {% endfor %}
	    </select>   

	    <select name ="selectsections" id="selectsections"></select>
		
		<div class="buttonCenter">
			<button id="select_submit" type="submit">Submit</button>
		</div>
	</form>
	{% endif %}

	{% if select_course_number != null %}
		<div class="header-content">
			<h1> {{ select_course_number }}     Section: {{ select_section_number }}</h1>
		</div>

		<div class="box-3">
			<div class="buttonCenter">
				<a href="#" ><button type="submit"> Upload picture </button></a>
			</div>
		</div><br>

		<div class="box-3">
			<div class="buttonCenter">
				<a href="/instructors/showattendance/?course_number={{select_course_number}}&section_number={{select_section_number}}" ><button type="submit"> Analysis </button></a>
			</div>
		</div>

	{% endif %}


{% endblock content%}
