{% extends '../../instructors/templates/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% include '../../instructors/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Online Gradebook | Instructor
{% endblock head_title%}

{% block content %}

	<div id="section1">
		<header id="header-area" class="intro-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="header-content">
							<h1>Online Gradebook </h1>
							<h1>For Instructure</h1>
							<h4>Welcome to our online gradebook</h4>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	{% block feature %}
	{% include '../../instructors/templates/feature.html' %}
	{% endblock feature %}


{% endblock content%}
