{% extends '../../instructors/templates/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% include '../../instructors/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Online Gradebook | Instructor
{% endblock head_title%}

{% block content %}
	
	<div class="header-content">
		<h1>Online Gradebook </h1>
		<h1>For Instructure</h1>
		<h4>Welcome to our online gradebook</h4>
	</div>


	{% block feature %}
	{% include '../../instructors/templates/feature.html' %}
	{% endblock feature %}


{% endblock content%}
