{% extends '../../instructors/templates/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block navbar %}
{% include '../../instructors/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
  Assessment form | Instructor
{% endblock head_title%}

{% block content %}
    
    <div class="header-content">
    <h1> Assessment Form </h1>
    <br><br>
    <div class="box-1">
        <div class="change-color">
            <form action="/instructors/course/save-assessment" method="post">

                {% csrf_token %}
                <p>Section number: {{ section_info.section_number }} </p>
                <p>Assessment type: {{ assessment_info.assessment_type }} </p>
                <input type="hidden" name="assessment_id" value="{{assessment_info.assessment_id}}">
                <input type="hidden" name="section_id" value="{{section_info.id}}">
                {% crispy form %}
             
        </div>
    </div>
  </div>
        

{% endblock content%}
