{% extends '../../instructors/templates/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block navbar %}
{% include '../../instructors/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
  Course Info | Instructor
{% endblock head_title%}

{% block content %}
    
	<div class="header-content">
    <h1> Course Info </h1>
    <br><br>
    <div class="box-1">
        <div class="change-color">
        	<div class="row rearrange-content">
        	<div class="buttonHolder col-md-3 col-md-offset-9"> 
					<a href="/instructors/course/section/?course_number={{ course_number }}">
						<button class="btn btn-primary btn btn-info change-button-color" id="submit-id-submit" type="submit">
							<i class="glyphicon glyphicon-edit"></i>
							Create Section
						</button>
					</a>
				</div>
			</div>
        	<table class="table table-hover">
			    <thead>
					<tr>
						<th>Course number</th>
						<th>Course name</th>
						<th>Semester</th>
						<th>Year</th>
						<th>Description</th>
						<th>Department</th>
					</tr>
			    </thead>
			    <tbody>
					<tr>
						<td>{{ course_info.course_number }}</td>
						<td>{{ course_info.name }}</td>
						<td>{{ course_info.semester }}</td>
						<td>{{ course_info.year }}</td>
						<td>{{ course_info.description }}</td>
						<td>{{ course_info.major }}</td>
					</tr>
			    </tbody>
			</table>
			<label class="control-label col-sm-16 change-header-color">Exist section</label>
			<table class="table table-hover">
			    <thead>
					<tr>
						<th>Section number</th>
						<th>Course number</th>
						<th>Course name</th>
					</tr>
			    </thead>
			    <tbody>
			    	{% for section in section_lists %}
					<tr>
						<td>
							<a href="/instructors/course/section-info/?course_number={{course.course.course_number}}&section_id={{section.section_number}}">{{ section.section_number}}</a>
						</td>
						<td>{{ section.course.course_number }}</td>
						<td>{{ section.course.name }}</td>
						
					</tr>
					{% endfor %}
			    </tbody>
			</table>
        </div>
    </div>
  	</div>
        


{% endblock content%}
