<!DOCTYPE html>
<html>
    <html lang="en"/>
    <head>
        <meta charset="utf-8"/>
        <title>Section form</title>
    </head>
    <body>
        <div class="container">
            <h2> Section Form </h2>
            <br><br>
            <form action="section" method="post">

                 {% csrf_token %}
                 {{ section_form.errors}}
                 <label for="course_number"> Course number:</label>
                 {{ section_form.course_number}}
                 <label for="section_number"> Section number:</label>
                 {{ section_form.section_number}}
                 <label for="year"> Year:</label>
                 {{ section_form.year}}
                 <label for="semester"> Semester:</label>
                 {{ section_form.semester}}
                 <label for="grade_criteria"> Grade criteria:</label>
                 {{ section_form.grade_criteria}}
                 <label for="time"> Time:</label>
                 {{ section_form.time}}
                 <label for="instructor_id"> Instructor ID:</label>
                 {{ section_form.instructor_id}}

                 <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
