{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Student Attendance
{% endblock head_title%}


{% block content %}

	<h1>Please select</h1>
	<h1>course number</h1>
	<form action="checkin" method="post">	
		{% csrf_token %}
		<select name="select_box">
		{% for course in course_number %}
			<option value="{{ course.course_number }}">{{ course.course_number }}</option>
		{% endfor %}	
		</select>
		
		<div class="buttonCenter">
			<button id="search_submit" type="submit">Submit</button>
		</div>
	</form>


	<div class="header-content">
	      <h1> {{ select_course_number }} </h1>
	</div>
	
	<div class="box-1">
		{% if object_list != null %}
		
		<table>
			<thead>
				<tr>
					<th>Student ID</th>
    				<th> Date</th>
    				<th> Attendance Staus </th>
  				</tr>
			</thead>

			<tbody>
				{% for k in attendance_list %}
				<tr>
	      			<td>{{ k.sid }}</td>

	      			{% for d in k.dates %}
	      				<td> {{ d.date}} </td>
	      			{% endfor %}

	      			{% for s in k.status %}
	      				<td> {{ s.status}} </td>
	      			{% endfor %}
				</tr>
  				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
					
	
{% endblock content%}
