{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Student Attendance
{% endblock head_title%}


{% block content %}

	<div id="section1">
		<header id="header-area" class="intro-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="header-content">
						      <h1> CN330 </h1>
						      <h4> Your class attendance is: </h4>
						      <br>
						</div>
						
           				<div class="box-1">
		        			<table>
		          			<thead>
				      			<tr>
		                			<th> Date</th>
		                			<th> Attendance Staus </th>
		              			</tr>
                    		</thead>

                    		<tbody>
								<tr>
                          			<td> December 20, 2016 </td>
                          			<td> yes </td>
								</tr>
                      			<tr>
                          			<td> December 21, 2016 </td>
                         			<td> yes </td>
								</tr>
								<tr>
									<td> December 22, 2016 </td>
									<td> yes </td>
								</tr>
                      			<tr>
                          			<td> December 23, 2016 </td>
                          			<td> yes </td>
								</tr>
                    		</tbody>
                  			</table>
              			</div>
					</div>
				</div>
			</div>
		</header>
	</div>

	{% block feature %}
	{% include 'feature.html' %}
	{% endblock feature %}


{% endblock content%}
