{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Predict Grade
{% endblock head_title%}


{% block content %}
	<h1>Please select</h1>
	<h1>course number</h1>
	<div class="header-content">
		<form action="predict" method="post">	
			{% csrf_token %}
			{{ predict_form.errors}}

            <select name="select_box">
            	<!--option value="{{ select_course_number }}" selected>{{ select_course_number }}</option-->
	            {% for course in course_number %}
	              <option value="{{ course.course_number }}">{{ course.course_number }}</option>
	            {% endfor %}
            </select>
			<div class="buttonCenter">
				<button type="submit"><div><a href="predictpopup">Predict</a></div></button>
			</div>
		</form>
			
	</div>
              				

{% endblock content%}
              
