{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Predict Grade Popup
{% endblock head_title%}


{% block content %}
	<div id="section1">
        	<header id="header-area" class="intro-section">
			<div class="container">
				<div class="row">
              				<div class="col-sm-12 text-center">
                				<div class="header-content">
						<h1> Your Grade is: </h1>
            					<br><br>
            					<form action="predictPopup" method="post">
							{% csrf_token %}
							{{ predictPopup_form.errors}}
							<p>
								<h1> ....A.... Or ....B+.... <h1><br><br>
						  		<img src="{% static 'img/smile.jpg' %}" 
>
								<img src="{% static 'img/1-1.jpg' %}" alt="Image">
						  		<img src="{% static 'img/sad.png' %}" width="300px" height="260px"><br><br><br>
						  		<!--button type="submit"><div><a href="predict.html">Back</a></div></button-->
							</p>
					  	</form>
        					</div>
              				</div>
            			</div>
          		</div>
        	</header>
      	</div>


	{% block feature %}
	{% include 'feature.html' %}
	{% endblock feature %}

{% endblock content%}

