{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Predict Grade Popup
{% endblock head_title%}


{% block content %}
	
	<div class="header-content">
		<h1> Your possible grade is: </h1>
	</div>
	<div class="box-1">
        <div class="change-color">
			<div class="flex-content">
				<form action="/predict" method="get">
					{% csrf_token %}
					<p>
						<h1><input type="button" class="btn btn-success" name="possible_grade" value={{ possible_grade}}></input></h1>
						{% if possible_grade == 'A' or possible_grade == 'B+' or possible_grade == 'B' or possible_grade == 'C+' or possible_grade == 'C' %}
				  			<img src="{% static 'img/smile.jpg' %}" >
				  		{% else %}
				  			<img src="{% static 'img/sad.png' %}" width="300px" height="260px"><br><br><br>
				  		{% endif %}
					</p>
					
					<div class="buttonCenter">
						<button id="submit" type="submit">BACK</button>
					</div>
				</form>
			</div>
		</div>	
	</div>
	
{% endblock content%}

