<!DOCTYPE html>
<html>
    <html lang="en"/>
    <head>
        <meta charset="utf-8"/>
        <title>Predict Grade</title>
    </head>
    <style>
      .container {
        text-align: center;
      }

    </style>
    <body>
        <div class="container">
            <h1> CN 330 </h1>
            <br><br>
            <h3> Enter your score: </h3>
            <form action="predict" method="post">

                 {% csrf_token %}
                 {{ predict_form.errors}}
                 <label for="predict_score"> Enter your score:</label><br>
                 <input type="text">
                 <br><br>
                 <button type="submit"><a href="predictpopup">Submit</a></button>
                 <button type="submit" class="btn btn-link"><a href="function">Back</a></button>
            </form>
        </div>
    </body>
</html>
