{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block head_title %}
	Predict Grade
{% endblock head_title%}


{% block content %}

	<script>
	    $(document).ready(function(){
	         $('select#selectcoursenumber').change(function () {
	             var optionSelected = $(this).find("option:selected");
	             var valueSelected  = optionSelected.val();
	             var course_number   = optionSelected.text();

	             console.log(course_number);
	             data = {'selectcoursenumber' : course_number ,"ajax":1};
	             ajax('/predict',data,function(result){
	             		$('#selectsections').html(result);
	                 });
	         });
	    });
	</script>

	<h1>Please select</h1>
	<h1>course number</h1>
	<div class="header-content">
		<form action="predict/predictpopup" method="post">	
			{% csrf_token %}
			<select name="selectcoursenumber" id="selectcoursenumber">
	        	<option selected="selected">--Select Course number--</option>
	        {% for item in course_number %}
	            <option val="{{ item.course_number }}"> {{ item.course_number }} </option>    
	        {% endfor %}
	        </select>   

	        <select name ="selectsections" id="selectsections"></select>

	        <div class="buttonCenter">
			  		<button id="submit" type="submit">Predict</button>
			</div>
	        
		</form>
	</div>

			

{% endblock content%}
              
