	button > a{
		/*background:none!important;*/
		border:none;
		padding:5px;
		font: inherit;
		/*border is optional*/
		/*border-bottom:1px solid #444; */
		cursor: pointer;
		color: black;
		width: 200%;
		/*background-color: hsla(210, 7%, 72%, 0.39);*/
	}

	.box-2  {
	    box-sizing: border-box;
	    clear: both;
	    align-content: center;
	    color: white;
	    font-size: 200%;
	    font-family: "Times New Roman", Georgia, Serif;
		display: flex;
		justify-content: center;
  	}

  	.box-3 {
  		box-sizing: border-box;
	    clear: both;
	    align-content: center;
	    color: white;
	    font-size: 200%;
	    font-family: "Times New Roman", Georgia, Serif;
		display: flex;
		justify-content: center;


  	}