{% extends '../../editors/templates/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block navbar %}
{% include '../../editors/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
  Instructor form
{% endblock head_title%}

{% block content %}

  <div class="header-content">
    <h1> Instructor Form </h1>
    <div class="box-1">
      <div class="change-color">
        <form action="create-instructors" method="post">
           {% csrf_token %}
           {% crispy form %}
      </div>
    </div>
  </div>
                

{% endblock content%}