{% extends "../../functions/templates/base.html" %}
{% load staticfiles %}

{% block navbar %}
{% include '../../functions/templates/navbar.html' %}
{% endblock navbar %}

{% block head_title %}
  Student form
{% endblock head_title%}


{% block content %}
    
	<div class="header-content">
		<h1> Student Form </h1> <br><br>
					
		<div class="box-1">
				<form action="student" method="post">

			{% csrf_token %}
		   	{{ student_form.errors}}

		   	<label for="first_name"> First name:</label>
		   	{{ student_form.first_name}}<br>

		   	<label for="last_name"> Last name:</label>
		   	{{ student_form.last_name}}<br>

		   	<label for="student_id"> Student ID:</label>
		   	{{ student_form.student_id}}<br>

		   	<label for="major"> Student Major:</label>
		   	{{ student_form.major}}<br>

		   	<label for="student_picture"> Picture:</label>
		   	<input id="id_student_picture" name="student_picture" type="text"> <br>
		 
		   	<button type="submit">Submit</button>
				</form>
		</div>
	</div>


{% endblock content%}

