{% block navbar%}

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="sticky-wrapper">
				<div class="col-md-12">
					<div class="col-md-4 menu">
						<span style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="/editors">Homepage</a></li>
						<li><a href="/editors/#section4">Contact</a></li>
						<li><a href="/editors/#footer-area">About Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<!-- left sidebar -->
	<nav class="navbar navbar-fixed-left">
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="/editors/create-instructors">Create Instructor Account</a>
			<a href="#">Change password</a>
			<a href="/editors">Back</a>
			<a href="/">Log out</a>
		</div>
	</nav>

	<script>
	function openNav() {
			document.getElementById("mySidenav").style.width = "20%";
	}

	function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
	}
	</script>
	
{% endblock navbar%}
